body {
    width: 80%;
    margin: 0 auto;
}

div {
    height: 400px;
    width: 400px;
}

.info {
    width: 400px;
    height: 1500px;
    position: static;
    border: 4px dashed orange;
    background-color: green;
}

.nav {
    width: 120px;
    height: 120px;
    position: fixed;
    border: 5px solid black;
    background-color:powderblue ;
}

