@media (min-width: 600px) and (max-width: 899px) {
    html, body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        border: 4px solid green;
    }

}