.container {
    display: flex;
    /*flex-direction:row;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    height: 300px;
    width: 300px;
    background-color: deepskyblue;
    flex-grow: 1;
    margin: 20px;
}