div {
    display: inline-block;
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.one {
    background-color: red;
    margin: 0 auto;

}

.two {
    background-color: green;
    position: relative;
    left: 100px;
    top: 100px;
}

.three {
    background-color: blue;
    margin: 0 auto;
}