html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 4em;
    height: 4em;
    background-color: #0000FF;
    text-shadow: 5px 5px 10px white;
    text-align: center;
    font-size: 10rem;
    box-shadow: 5px 5px black;
}