html, body, div {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    float: left;

}

.left {
    font-family: cursive;
    font-size: 14px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.img {
    height: 100%;
    width:75%;
}

